<h2>Upcoming Reservations</h2>

<div>
  <ul>
    <li>Number of Permits:{{reservation.permit_quantity}}</li>
    <li>Number of Lodging Reservations: {{reservation.lodging_quantity}}</li>
    <li>Permit Start Date: {{reservation.permit_start_date}}</li>
    <li>Permit End Date: {{reservation.permit_end_date}}</li>
    <li>Total Cost:{{reservation.total_cost}}</li>
  </ul>
</div>

<button {{action "deleteReservation"}} class="btn btn-danger">Cancel This Reservation</button>

{{#link-to 'update' reservation}}
<button class="btn btn-success">Modify This Reservation</button>
{{/link-to}}
