{{#unless canUpdate}}
<h2>Upcoming Reservations</h2>
<h3>{{moment-to-now reservation.permitStartDate hidePrefix=true allow-empty=true}} until your trip!</h3>

<div>
    <p>Number of Permits:
      <span class="permit_quantity">{{reservation.permitQuantity}}</span>
    </p>
    <p>Number of Lodging Reservations:
      <span class="lodging_quantity">{{reservation.lodgingQuantity}}</span>
    </p>
    <p>Dates:
      <span class="permit_start_date">{{moment-format reservation.permitStartDate 'LL'}}</span>
      <span>to</span>
      <span class="permit_end_date">{{moment-format reservation.permitEndDate 'LL'}}</span>
    </p>

    <p>Total Cost:
      <span class="total_cost" contenteditable>{{reservation.totalCost}}</span>
    </p>
</div>

<button {{action "canUpdate"}} class="btn btn-success">Update</button>
<button {{action "deleteReservation"}} class="btn btn-danger">Cancel This Reservation</button>

{{else}}

<h3>Update Reservation</h3>

<div>
<form {{action "modifyReservation" newReservation on="submit"}}>
    {{input type="number"
            placeholder="Permit Quantity"
            class="input-group form-control"
            value=permitQuantity}}
    {{input type="number"
            placeholder="Lodging Quantity"
            class="input-group form-control"
            value=lodgingQuantity}}
    {{bootstrap-datepicker
      autoclose=true
      date=mydate
      todayHighlight=true
      valueFormat='YYYY-MM-DD'
      placeholder="Permit Start Date"
      class="input-group form-control"
      value=permitStartDate}}
    {{bootstrap-datepicker
      autoclose=true
      startDate=permitStartDate
      date=mydate
      valueFormat='YYYY-MM-DD'
      placeholder="Permit End Date"
      class="input-group form-control"
      value=permitEndDate}}

  <h4>Total Cost:</h4>
  <div>${{totalCost}}</div>

  <input type="submit" class="btn btn-succss">
</form>
</div>

<button {{action "canUpdate"}} class="btn btn-success">Update</button>

{{/unless}}
